body{
    background-image: url("../images/fond.jpg");
}
	
.onglet0{
    margin:auto;
    border-collapse: collapse;
    table-layout: auto;
    width: 75%;
}

.onglet1{
    border: thin solid gray;
    text-align: center;
}

.onglet2{
    width: 200px;
	height: 60px;
}

.banniere{
    text-align: center;
}

.titre{
    color: yellow;
    font-family: "comic sans ms";
    text-align: center;
}

.actualite{
    margin:auto;
    border-collapse: collapse;
    width: 60%;
    
}

.info1{
    color: orange;
    font-family: arial;
    border: thin solid gray;
}

.info2{
    color: yellow;
    font-family: arial;
    border: thin solid gray;
}

/* --------------------------------------Resultat----------------------------*/

#homme0{
    text-align: center;
}

.homme1, .femme1{
    width: 300px;
    height: 150px;
}

#femme0{
    text-align: center;
    
}

.as{
    font-weight: bold;
    border:thin solid gray;
}

.H, .F{
    margin: auto;
    border-collapse: collapse;
}

.larg{
    color: orange;
    font-family: arial;
}

.match{
    border:thin solid gray;
    width: 200px;
}

.match1{
    border:thin solid gray;
    width: 30px;
}

/*---------------------------------Inscription---------------------------*/

#ballon0{
    text-align: center;
}

.ballon1{
    width: 150px;
    height: 150px;
}

.formulaire{
    margin: auto;
}

.form{
    color: yellow;
    
}


